.signIn{
    
    width: 100%;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.signIn__input{
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem #0055ba;
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem 0.8rem;
    width:100%;
}
.signIn__input::placeholder{
    color: #B0BEC5;
}
.signIn__input-label{
color:white;
text-align: left;
}
.signIn__header{
    color:white;
    font-size:3em;
}
.signIn__form{
    display: inline-flex;
    flex-flow:column nowrap;
    width:40%;
    
}